# Arquivo de variável de ambiente que não funciona 
# É necessário criar a .env com essas variaveis abaixo 
# E o valor que preferir

# URL da API Java
VITE_API_BASE_URL=

#True ou false
VITE_USE_MOCK=
