.venv
api/__pycache__/
api/scripts/__pycache__/
api/service/__pycache__/
api/controller/__pycache__/
api/config/__pycache__/
api/dto/__pycache__/
api/security/__pycache__/
api/tests/__pycache__/
.pytest_cache/
api/.env